*{
    margin: 0%;
    padding: 0%;
    
}
/* still in progress css for header and nav css */

.Nav svg {
    transition: fill,stroke 0.7s ease;
}
.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 20;
  top: 0;
  
  height: 50px;
  width: 100%;
  transition: transform 0.7s ease;


}
.Nav.Up{

    transition: background-color 0.5s ease;
}

.Nav.hide {
  transform: translateY(-100%);


  
}
.Nav.show{
  
  transition:transform 0.7 ease-in-out ;
  
}

.Tab{

    position: relative;
 
    height: 300px;
    width: 100%;
    background-color: rgb(207, 207, 207);

}
.center{
    display: flex;
    flex-direction: row;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    color: white;
    width: 62%;
   justify-content: space-between;
 
}
.centernew{
  display: flex;
  flex-direction: row;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  color: white;
 
}



.btn{
  
    padding-top:5px;
padding-bottom: 5px;
padding-left: 15px;
padding-right: 15px;
    border-radius: 2px;
    transition-property: color;
    transition-duration: 0.7s;
    
}
.btn:hover{
background-color: #ebebeb;
transition: 0.7s;
}
.right{
   
    padding-right: 30px;
}
.left{
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 50px;
   
}
.left > svg{
  height: 20px;
  width: 30px;
  transform: scale(3.5); 
  transform-origin: center;
 
}

.right > svg{
    height: 20px;
    width: 30px;
    padding: 2px;
    border-radius: 2px;
    
}

.Ruh:hover{
    background-color: #a8a8a881;
    transition: 0.7s;
}
.right >svg{
    transition-property: stroke;
    transition-duration: 0.7s;
}
svg{
    cursor: pointer;
}
.dropdown {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  z-index: -10;
  max-height: 0px;
  opacity: 0;
}

.dropdown-visible {
  max-height: 700px;
  opacity: 1;
  transition: max-height 0.7s ease-in, opacity 0.5s ease-in-out;
}

.dropdown-fade-out {
  max-height: 0px;
  opacity: 0; 
  transition: max-height 0.7s ease-in, opacity 0.5s ease-in-out;
}

.dropcon {
  position: relative;
  top: 40px;
  z-index: -10;
  padding: 40px 250px;
  margin-bottom: 50px;
  font-family: system-ui;
}


.Section{
width: 100%;
height: 100vh;
position: relative;
overflow: hidden;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
z-index: 1;
}
.text {
  text-align: center;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.46);
  position: absolute;
  top: 30%;         
  left: 50%;         
  transform: translate(-50%, -50%);
  font-size: 100%;    
}
.Bot{
    height: 40px;
    width: max-content;
    border-radius: 10px;
   display: flex;
   flex-direction: row;
   gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-bottom: 90px;

}
.Bot > button {
  border-radius: 5px;
  height: 42px;
  width: 220px;
  border: none;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease-out; 
}

.Bot1 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 140, 255);
}

.Bot2 {
  color: rgb(56, 56, 56);
  background-color: rgb(255, 255, 255);
}

.Bot1:hover {
  background-color: #000000f6;
  transform: scale(1.1);
}

.Bot2:hover {
  background-color: #070a0f;
  transform: scale(1.1);
  color: white;
}
.Images > img {

  width: 100%;         
  height: 100%; 
  object-fit: cover; 
  display: block; 
    position: absolute;   
  top: 0;              
  left: 0;              
  z-index: -1;  
}
.Media video {
  width: 100%;         
  height: 100%;           
  object-fit: cover;    
  position: absolute;   
  top: 0;              
  left: 0;              
  z-index: -1;           
}

.Media {
  width: 100%;
  height: 100vh;         
  position: relative;   
  overflow: hidden;
}

.overall{
  
}
/* 90% complet css is for footer section */

.footer{
    background-color: black;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    
}
.para{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    width: 800px;
    gap: 10px;
    padding-top: 30px;


}
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 800px;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 70px;

    
}
.Downheader{
position: fixed;
bottom: 0px;
z-index: 20;
display: flex;
height: 30px;
background-color: whitesmoke;
width: 100%;
justify-content: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(49, 49, 49);
padding-top: 10px;
font-size: small;
}

.Downheader > svg{
  height: 25px;

}

.Downheader.hide {
  transform: translateY(100%);
  transition:transform 0.7s ease-in-out ;

  
}
.Downheader.show{
  
  transition:transform 0.7s ease-in ;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.bgm{
  width: 80%;
  height: 100%; 
  object-fit: fill;
}





.hamburger {
  display: none;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 3px;
  font-size: 7px;
  cursor: pointer;
  color: rgb(32, 32, 32);
  margin-right: 17px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* media queries still in progress */

@media (max-width: 969px) {
  .center {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;

  }

  .center.open {
    display: flex;
    
  
  }
  .centernew{
 
  flex-direction: column;
  gap: 20px;
  }

  .hamburger {
    display: block;
  }
 .dropdown-visible{
    top: 140px;
    width: 100%;
    height: 100vh;
    z-index: 10000;
    
  

 }
}

@media (max-width: 825px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .center {
    flex-direction: column;
    gap: 10px;
  }

  .right {
    margin-top: 10px;
  }
}

@media (min-width: 319px) and (max-width: 480px) {
  .Section{
    width: 100%;
    height: 70vh;
  }
 .text{
  font-size: x-small ;
 }

  .Bot {
    gap: 10px; 
  }

  .Bot > button {
    width: 140px; 
    height: 36px; 
    font-size: 12px; 
  }
 .footer{
  width: 100%;
  height: 600px;
  overflow-y: hidden;
  
 }
.para >p{
  width: 300px;
  font-size: 10px;
}
.end{
  display: flex;
  flex-direction: column;
  font-size: 8px;
}

.Downheader{
  background-color: whitesmoke;
  width:100%;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(49, 49, 49);
  padding-top: 10px;
  font-size: 10px;

  overflow-y: hidden;
  }
  
  .Downheader > svg{
    height: 18px;
  
  }
 .hamburger{
  position: relative;
  right: 18px;
 }
}

@media (min-width: 481px) and (max-width: 1200px) {
  .text {
    font-size: 60%; 
  }
  .Bot > button {
    width: 180px;
    height: 40px;
    font-size: 14px;
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .text {
    font-size: 80%;
  }
  .Bot > button {
    width: 200px; 
    height: 42px;
    font-size: 16px;
  }
}

@media (min-width: 1601px) {
  .text {
    font-size: 100%;
  }
   .Bot > button {
    width: 220px; 
    height: 42px;
    font-size: 18px;
  }
}